body {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  background: #222;
  height: 100vh;
  display: grid;
  place-items: center;
  color: #b3afbf;
}
.card {
  padding: 15px;
  width: 350px;
  background: #222;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  user-select: none;
}
